
body {
  font-family: 'Open Sans', sans-serif;
}
.navbar-inverse {
   font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
}

h2 {
  font-family: 'Patrick Hand', cursive;
}
.jumbotron {
  text-align: center;
}
.jumbotron h1 {
  
  font-family: 'Luckiest Guy', cursive;
  color: #e22620;
}

.jumbotron h3 {

  font-family: 'Patrick Hand', cursive;
  background-color:#ececec;
}

.btn-primary-orange {
  background-color: #ebac64;
  color: white;
}
.modal-body p {
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

.title-span {
  font-size: 24px;
  font-family: 'Luckiest Guy', cursive;
  color: #e22620;
}

.modal-title {
  color: rgb(119, 119, 119);
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
}

.panel-title {
  font-size: 21px;
  font-family: 'Patrick Hand', cursive;
}



/*---- all dogs page---*/


ul.thumbnails li.span4:nth-child(3n + 4) {
  margin-left : 0px;
} 

.title-alldogs {
  text-align:center;
  font-size: 44px;
  font-family: 'Luckiest Guy', cursive;
  color: #ebac64;
}